.top li {
    counter-increment: top-lista;
    position: relative;
}

.top--alfabethic li {
    width: 25%;
}

.artistli {
    list-style: none;
}

.top.top_art a>span {
    padding-left: 14px;
}

.top a>span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 14px 0 0;
    box-sizing: border-box;
}
